:root{
   --accent: #4D5AE5;
   --title: #2E2F42;
   --text: #434455;
   --color-ocean: #404bbf;
   --color-green: #31d0aa;
   --color-light-slate: #8e8f99;
   --border: #e7e9fc;
   --color-cloud: #f4f4fd;
   --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


body {
   font-family: "Roboto", sans-serif;
   background: #FFFFFF;
   color: var(--text);
}

p,h1,h2,h3,h4,h5,h6 {
   margin-top: 0;
   margin-bottom: 0;
}

ul {
   margin-top: 0;
   margin-bottom: 0;
   padding-left: 0;
}

img{
   display: block;
}

.container {
   max-width: 1158px; 
   padding: 0 15px;
   margin: 0 auto;
}

.link {
   text-decoration: none;
}

.list {
   list-style: none;
}




/* -----------------------------index---------------------------- */
/* -----------------------------header---------------------------- */
.header {
   border-bottom: 1px solid var(--border);
   box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
   display: flex;
   align-items: center;
}

.header-nav {
   display: flex;
   align-items: center;
   flex-grow: 1;
   padding: 24px 0 24px;
}

.header-logo {
   font-family: "Raleway", sans-serif;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--accent);
   margin-right: 76px;
}

.header-logo span {
   color: var(--title);
}

.header-menu {
   display: flex;
   gap: 40px;
}

.menu-item {}

.menu-item-link {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #000;
   transition: color var(--transition);
   position: relative;
}

.menu-item-link:hover,
.menu-item-link:focus {
   color: var(--color-ocean);
}

.menu-item-link.active::after {
   content: "";   
   position: absolute;
   left: 0;
   bottom: -1px;
   width: 100%;
   height: 4px;
   background-color: var(--color-ocean);
   border-radius: 2px;
}
.active {
   color: var(--color-ocean);
}



.contacts {
   font-style: normal;
   padding: 24px 0 24px;
}

.contacts-list {
   display: flex;
   gap: 40px;
}

.contacts-list-item {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--text);
   /* padding: 24px 0 24px; */
   transition: color var(--transition);
}

.contacts-list-item:hover,
.contacts-list-item:focus{
   color: var(--color-ocean);
}


/* -----------------------------index---------------------------- */
/* -----------------------------hero---------------------------- */
.hero {
   padding: 188px 0 188px;
   background-color: var(--title);
   background-image: linear-gradient(rgba(46, 47, 66, 0.7),
   rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   max-width: 1440px;   
   margin: 0 auto;
}

.hero-container{}

.hero-title {
   font-weight: 700;
   font-size: 56px;
   line-height: 1.07;
   letter-spacing: 0.02em;
   color: #FFFFFF;
   text-align: center;
   margin-bottom: 48px;
   max-width: 496px;
   margin: 0 auto;
}

.hero-btn {
   display: block;
   border: none;
   min-width: 169px;
   height: 56px;
   font-family: "Roboto", sans-serif;
   background: var(--accent);
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: #FFFFFF;
   border-radius: 4px;
   margin: 48px auto 0;
   cursor: pointer;
   transition: background-color var(--transition);
}

.hero-btn:hover,
.hero-btn:focus {
   background-color: var(--color-ocean);
   cursor: pointer;
}

.modal {}

.modal-btn {}

.modal-btn-icon {}

.modal-form {}

.modal-input {}




/* -----------------------------index---------------------------- */
/* -----------------------------power---------------------------- */
.power {
   padding: 120px 0 120px;
}

.power-title-hidden {}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.power-list {
   display: flex;
   gap: 24px;
   
}

.power-list-icon{}

.power-list-item {
   width: calc((100%-72px)/4);
}

.svg-box {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 8px;
   background: var(--color-cloud);
   border-radius: 4px;
   padding: 24px 102px;
}

.power-list-icon{}

.power-list-title {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;   
   letter-spacing: 0.02em;
   color: var(--title);
   margin-bottom: 8px;
}

.power-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;  
   color: var(--text);
}


/* -----------------------------index---------------------------- */
/* -----------------------------actions---------------------------- */
.actions {
   padding: 60px 0 120px 0;
}

.actions-title {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.11;
   letter-spacing: 0.02em;  
   color: var(--title);
   text-align: center;
   text-transform: capitalize;
   margin-bottom: 72px;
}

.actions-list {
   display: flex;
   gap: 24px;
}

.actions-list-item {
   width: calc((100%-48px)/3);
}


/* -----------------------------index---------------------------- */
/* -----------------------------team---------------------------- */
.team {
   background-color:var(--color-cloud);
   padding: 120px 0 120px;
}

.team-title {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.11;
   letter-spacing: 0.02em;
   color: var(--title);
   text-align: center;
   text-transform: capitalize;
   margin-bottom: 72px;
}

.team-list {
   display: flex;
   gap: 24px;
}

.team-list-item {
   background-color: #FFFFFF;
   width: calc((100%-72)/4);
   border-radius: 0px 0px 4px 4px;
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
   justify-content: center;
   align-items: center;
}

.info-person{
   padding: 32px 0 32px;
}

.team-name {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;   
   color: var(--title);
   margin-bottom: 8px;
   text-align: center;
}

.team-profession {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--text);
   text-align: center;
   margin-bottom: 8px;
}


.social-person {
   display: flex;
   justify-content: center;
   gap: 24px;
}

.social-item {
   width: 40px;
   height: 40px;
   border-radius: 50%;
}

.social-link {
   width: 100%;
   height: 100%;
   padding: 12px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--accent);
   transition: background-color var(--transition);
   border-radius: 50%;
}

.social-link:focus,
.social-link:hover {
   background-color: var(--color-ocean);
}

.social-icon {
   fill: var(--color-cloud);
}




/* -----------------------------index---------------------------- */
/* ---------------------------customers---------------------------- */
.customers {
   padding: 120px 0 120px;
}

.customers-title {}

.customers-list {
   display: flex;
   gap: 24px;
   align-items: center;
   justify-content: center;
}

.customers-list-item {
   display: inline-block;
   width: calc((100% - 120px) / 6);
   height: 88px;

}

.customers-icon {
   /* fill: var(--color-light-slate); */
   fill: currentColor;
   transition: fill var(--transition);
}

.customers-item-link:hover .customers-icon {
   fill: currentColor;
}

.customers-item-link {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;
   color: var(--color-light-slate);
   padding: 16px 32px;
   border: 1px solid var(--color-light-slate);
   border-radius: 4px;
   transition: border-color var(--transition), color var(--transition);   
}



.customers-item-link:hover,
.customers-item-link:focus {
   border-color: var(--color-ocean);
   color: var(--color-ocean);
}

.customers-icon{}






/* -----------------------------index---------------------------- */
/* -----------------------------footer---------------------------- */
.footer {
   background-color: var(--title);
   padding: 100px 0 100px;}

.footer-container{
   display: flex;
   align-items: baseline;
}

.info-box{
   margin-right: 120px;
}

.footer-logo {
   font-family: "Raleway", sans-serif;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   color: var(--accent);
   text-transform: uppercase;
   display: inline-block;
   margin-bottom: 16px;
}

.footer-logo span {
   color: var(--color-cloud);
}

.footer-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--color-cloud);
}


.soc-box {}

.title-social {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #FFFFFF;
   margin-bottom: 16px;
}

.soc-box>.social-person {
   gap: 16px;
}
.soc-hover{
   padding: 0;
}
.soc-hover:focus,
.soc-hover:hover {
   background-color: var(--color-green);
}


/* -----------------------------index---------------------------- */
/* -----------------------------modal---------------------------- */
.box-modal {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(46, 47, 66, 0.4);
   transition: opacity var(--transition), visibility var(--transition);
}
.is-hidden {
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
}

.modal {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(1);
   width: 408px;
   min-height: 584px;
   background-color: #fcfcfc;
   box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 4px;
   transition: transform var(--transition);
}

.btn-close {
   position: absolute;
   top: 24px;
   right: 24px;
   width: 24px;
   height: 24px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #E7E9FC;
   border: 1px solid rgba(0, 0, 0, 0.1);
   padding: 0;
   cursor: pointer;
   transition: background-color var(--transition), border var(--transition);
}

.btn-close:hover,
.btn-close:focus {
   background-color: var(--color-ocean);
   border: none;
   fill: #ffffff
}

.icon-close {
   transition: fill var(--transition);
}







/* -------------------------------page-2---------------------------- */
/* -----------------------------portfolio---------------------------- */
/* --------------------------------menu------------------------------ */
.portfolio {
   padding: 96px 0 120px 0;
}

.portfolio-title-hidden {}

.portfolio-list-nav {
   display: flex;
   gap: 24px;
   justify-content: center;
   margin-bottom: 72px;
}

.nav-item-portf{}

.button {
   font-family: "Roboto", sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: var(--accent);
   background: var(--color-cloud);
   cursor: pointer;
   border-radius: 4px;
   padding: 12px 24px;
   border: 1px solid var(--border);
   transition: color var(--transition), background-color var(--transition), border-color var(--transition), box-shadow var(--transition);
}

.button:focus, 
.button:hover {
   color: #FFFFFF;
   background-color: var(--color-ocean);
   border: 1px solid transparent;
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}



/* -----------------------------portfolio---------------------------- */
/* --------------------------------list------------------------------ */
.portfolio-list {
   display: flex;
   flex-wrap: wrap;
   column-gap: 24px;
   row-gap: 48px;
}

.portfolio-item{}

.card {
   display: block;
   transition: box-shadow var(--transition);
}

.card:hover,
.card:focus {
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
   transform: translateY(0%);
}

.card:focus .overlay-content {
   transform: translateY(0%);
}

.img-overlay-box {
   position: relative;
   overflow: hidden;
}

.img-overlay-box:hover .overlay-content,
.img-overlay-box:focus .overlay-content {
   transform: translateY(0);
}

.overlay-content {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--color-cloud);
   background-color: var(--accent);
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 40px 32px;   
   transform: translateY(100%);
   transition: transform var(--transition);
}


.addition-portfolio{
   padding: 32px 16px 32px;
   border: 1px solid var(--border);
   border-top: none;
}

.portfolio-title {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: var(--title);
   margin-bottom: 8px
}

.portfolio-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--text);
}